<head>
	<link rel="stylesheet" type="text/css" href="../templates/css/success.css">
	</head>
	<h1>Welcome, {{.Name}}! Content coming soon ...</h1>
	<div id="cooking">
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div id="area">
			<div id="sides">
				<div id="pan"></div>
				<div id="handle"></div>
			</div>
			<div id="pancake">
				<div id="pastry"></div>
			</div>
		</div>
	</div>
	<br>
		<div class="button">
			<form method="post" action="/logout">
				<fieldset>
					<input class="logoutButton" type="submit" value="Logout"/>
				</fieldset>
			</form>
		</br>
	</div>